html{
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

/*Top*/
.banner{
  height: 31rem;
  margin-top: 0;
  }

#backimg{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }


.navbar{
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  max-width: 960px;
  display: flex;
  align-items: center;
}

#whiteglasses{
  height: 1.5rem;
}

.spacer{
  height: 1rem;
  display: flex;
}

.navbar p{
  margin: 0 1rem;
  width: 50%;
}

nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav a{
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}

.smallsize{
  display: none;
}

.bannercon{
  display: flex;
  justify-content: flex-end;
}

.bannertext{
  background-color: white;
  margin-top: 10rem;
  margin-right: -4rem;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: flex-end;
}

.bannertext h1{
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;

}

.icons{
  height: 8rem;
  padding: 3rem 0;
  width: 905px;
  display: flex;
  flex-direction: row;
}

.icondivs{
  justify-content: center;
  align-items: center;
}

.icontext p{
  padding-top: 5%;
  text-align: center;
  align-items: baseline;
}

.first{
  margin-left: 6rem;
  padding-left: 2rem;
  padding-right: 0;
}

#compexam{
  width: 3.5rem;
  padding-left: 35px;
  padding-bottom: 1rem;
}

.middle{
  margin: 0 6rem;
  padding-left: 1rem;
}

#custfit{
  width: 5rem;
  padding-bottom: 2.75rem;
}

.last{
  padding-left: 0;
}

#fastdel{
  width: 5rem;
  padding-bottom: 2.15rem;
}

.outsideinfo{
  display: flex;
  flex-direction: row;
}

.info{
  width: 35%;
  margin-bottom: 5rem;
  margin-left: 3rem;
  margin-right: 1.5rem;
}

.info h1{
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  color: white;
  background-color: cadetblue;
}

.info p{
  margin-top: 1rem;
}


footer{
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem 6rem;
}

footer img{
  height: 1.5rem;
  padding-right: 1rem;
  margin-left: -2rem;
}
@media only screen and (max-width: 1142px) and (min-width:1025px){


}

@media only screen and (max-width: 1024px){
 
  .container{
      max-width: 1024px;
      margin: 0 auto;
  }

  .banner{
    height: 22rem;
  }

  .navbar{
    margin-top: 0;
  }

  .spacer{
    height: 0;
  }

  #backimg{
    background-position: 50%;
  }

  .bannertext{
    margin-top: 5rem;
    margin-right: 2rem;
    padding: .75rem 4rem;
  }

  .bannertext h1{
    font-size: 1.33rem;
  }

  .icons{
    padding: 3rem 0;
    width: 100%;
    display: flex;
  }

  .icondivs{
    justify-content: space-around;
  }

  .first{
    padding-left: 3.25rem;
  }

  .last{
    padding-left: 3.65rem;
  }

  .info{
    margin-left: 7.5rem;
    margin-right: .5rem;
    width: 25%;
  }
}

@media only screen and (max-width: 470px){
  .container{
    max-width: 470px;
    margin: 0 auto;
  }

  .banner{
    height: 17rem;
  }

  #backimg{
    background-position: 20%;
    background-size: cover;
  }

  .navbar p{
    display: none;
  }

  .largesize{
    display: none;
  }

  .smallsize{
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .bannercon{
    margin-top: 9rem;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .bannertext{
    padding: 1rem;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    justify-content: center;
  }

  .bannertext h1{
    font-size: 1rem;
    text-align: center;
  }

  .icons{
    display: flex;
    flex-direction: column;
    margin: 3.77rem 0;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .first{
    margin-left: 0;
    padding-left: 0;
  }

  #compexam{
    padding-left: 0;
  }

  .middle{
    padding: 0;
    margin: 0;
  }

  #custfit{
    margin-top: 1.54rem;
  }

  .last{
    padding: 0;
  }

  #fastdel{
    margin-top: 1.54rem;
    padding-bottom: 0;
  }

  .icontext{
    font-size: 0.77rem;
  }

  .outsideinfo{
    display: block;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .info{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .info h1{
    width: auto;
  }

  footer{
    align-content: center;
    justify-content: center;
    margin-right: 0;
    width: auto;
  }

  footer h2{
    display: none;
  }

  footer img{
    margin: 0;
    padding: 0;
  }

}

@media only screen and (max-width: 345px){
  /*Smallest view*/
}
