html{
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.banner{
  height: 30rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  }

.navbar{
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#whiteglasses{
  height: 1.5rem;
}

.navbar p{
  margin-left: 1rem;
}

.spacer{
  margin: 0 17%;
  padding: 3% 0;
  display: flex;
}

nav a{
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}

.bannercon{
  display: flex;
  justify-content: flex-end;
}

.bannertext{
  background-color: white;
  margin-top: 10rem;
  margin-right: -4rem;
  display: flex;
  justify-content: flex-end;
}

.bannertext p{
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

.icons{
  height: 8rem;
  padding: 3rem 0;
  display: flex;
}

.icondivs{
  padding: 0 6rem;
  justify-content: center;
  align-items: center;
}


.icontext{
  width: 5rems;
  text-align: center;
  align-items: baseline;
}

.icontext p{
  padding-top: 5%;
}

#compexam{
  width: 3.5rem;
  padding-left: 35px;
  padding-bottom: 1rem;
}

#custfit{
  width: 5rem;
  padding-bottom: 2.75rem;
}

#fastdel{
  width: 5rem;
  padding-bottom: 2.15rem;
}

.info{
  display: flex;
}

.info h1{
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-right: 15rem;
  color: white;
  background-color: cadetblue;
}

.info p{
  width: 35%;
  margin-top: 1rem;
  margin-right: 5%;
  margin-bottom: 5rem;
}

#secp{
  margin-left: 5rem;
}

footer{
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem 6rem;
}

footer img{
  height: 1.5rem;
  padding-right: 1rem;
  margin-left: -2rem;
}
@media only screen and (max-width: 1142px) and (min-width:1025px){
  /*Between desktop and laptop view*/

}

@media only screen and (max-width: 1024px){
  /*Laptop view*/
  .banner{
    background-size: 100%;
  }

  .navbar{
    color: pink;
    width: 100%;
    margin-top: 0;
    padding: 1rem 1rem;
  }

  .spacer{
    padding:0;
  }

  .bannertext{
    margin-top: 5rem;
  }
  /*.bannertext{
    background-color: white;
    margin-top: 10rem;
    margin-right: -4rem;
    display: flex;
    justify-content: flex-end;
  }

  .bannertext p{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    padding: 1.5rem 5rem;
  }*/
}

@media only screen and (max-width: 470px){
  /*Cellphone view*/
}

@media only screen and (max-width: 345px){
  /*Smallest view*/
}
