html{
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.banner{
  height: 30rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  }

.navbar{
  top: 1rem;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  width: 960px;
}

#whiteglasses{
  height: 1.5rem;
}

.navbar p{
  margin-left: 1rem;
}

.spacer{
  margin: 0 19%;
  display: flex;
}

nav a{
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}

header .bannercon{
  justify-content: flex-end;
}

.bannercon{
  display: flex;
}

.bannertext{
  background-color: white;
  margin-top: 10rem;
  margin-right: -4rem;
  display: flex;
  justify-content: flex-end;
}

.bannertext p{
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}
